#cloud-config
# vim: syntax=yaml
#
# ***********************
# ---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: titozurita
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+7t9xNF4gJBuY7Z1t51PJd8NWmTZ4TXmUaV5AY9jsHGs/JwuX1bNaTBICQbHp8RyDZUFm8A6pmZEnIcYY+OQyIRM6mL0t7qiGV0Eh6LqTupteXnXCjEZI5p/genyDvGTt86vlB9Ar5ItkNOZx0KBSLDAqtjWnTZ5iLxHFepas1YnqlsEzmNggMWqCGMJBIGgTEp/bb/xW5aXSrbSWNnLOhUlYtEfleL3Df3RS0Iy7fo8hHElLmKuAgQZ3recViV+em7pkkFQtqqeYVVNOZKqTncb9KVtNMJy2MffvNWAEIflLkEvNH+xdxTQs51q3ZNl/r+6AO7FVzFU/fG4GfYd/ tito@titozurita
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo

